<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Recent Activity</h3>
    <%= will_paginate @feed_items, :params => { :controller => 'static_pages', :action => 'home' } if @feed_items.any? %>
    <%= render 'shared/feed' %>
    <%= will_paginate @feed_items, :params => { :controller => 'static_pages', :action => 'home' } if @feed_items.any? %>
  </div>
</div>
